.slider {
  margin: auto;

  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    cursor: pointer;
    padding: 3rem 0;
    flex: 1 0 calc(100% - 100px);
  }
}

.activeSlide {
  > div {
    transform: scale(1);
    transform-origin: left;
  }

  //+ div > div {
  //  transform: scale(0.4);
  //  transform-origin: left;
  //}
}

.inactiveSlide {
  > div {
    transform: scale(0.4);
    transform-origin: left;
  }
}